@model List<ContactInfo>

@foreach (var item in Model)
{
    <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Email</td>
        <td>@item.Username</td>
        <td>@item.Title</td>
        <td>@item.Description</td>
        <td>@item.DateBirth.DateOnly</td>
        <td>@item.MarriageStatus</td>
        <td>@item.RoleUser</td>
        <td>
            <a class="btn btn-primary btn-sm" href="Edit?id=@item.Id">Edit</a>
            <a class="btn btn-primary btn-sm" href="Delete?id=@item.Id">Delete</a>
        </td>
    </tr>
}
